- render_region :main do |main|
  - main.show_header do
    %h1 Show Snippet
  - main.show_form do
    .form-area
      - render_region :form do |form|
        - form.show_title do
          %p.title
            %label{:for=>"snippet_name"} Name
            =text_field_tag :name, @snippet.name, :class => 'textbox', :maxlength => 100
        - form.show_content do
          %p.content
            %label{:for=>"snippet_content"} Body
            ~ text_area_tag 'content', @snippet.content, :class => "textarea", :style => "width: 100%"

= link_to 'Cancel', admin_snippets_url